* {
  background-color: white;
  color: #cba135;
}
h1 {
  color: #cba135;
  text-align: center;
}
.mainNav li{
  text-align: center;
  display: inline;
}
.home-post{
  border-radius: 30px;
  padding: 60px 400px;
  position: relative;
  background-color: #F3EFE0;
  height: 400px;
  margin: 50px 0;
  
}
.title-post {
  font-size: 4em;
  text-align: center;
}
.post-test{
  display: flex;
  justify-content: center;
  margin: 80px;
}
.MuiTypography-body2{
  
} 